Repository pagopa/dx-playground, pull requests merged in 2025-06, with the labels that each got.

#245 Release candidate command workflow
  .github/workflows/release_candidate_command.yaml
Labels: workflows, size/small, changeset

#253 Upgrade @pagopa/eslint-config package
  .changeset/every-pears-learn.md
  apps/azure-function-v3/package.json
  apps/release-candidate/package.json
  apps/test-durable-function/package.json
  apps/to-do-api/package.json
  apps/to-do-webapp/package.json
  apps/to-do-webapp/src/app/page.tsx
  apps/to-do-webapp/src/components/ToDoItem.tsx
  apps/to-do-webapp/src/components/ToDoTextArea.tsx
  packages/to-do-azure-adapters/package.json
  packages/to-do-domain/package.json
  yarn.lock
Labels: size/small, changeset

#260 Remove generated code
  .changeset/old-days-play.md
  apps/to-do-api/.gitignore
  apps/to-do-api/package.json
  apps/to-do-api/src/generated/definitions/internal/ApplicationInfo.ts
  apps/to-do-api/src/generated/definitions/internal/CreateTaskItem.ts
  apps/to-do-api/src/generated/definitions/internal/ProblemJSON.ts
  apps/to-do-api/src/generated/definitions/internal/TaskId.ts
  apps/to-do-api/src/generated/definitions/internal/TaskItem.ts
  apps/to-do-api/src/generated/definitions/internal/TaskItemList.ts
  apps/to-do-api/src/generated/definitions/internal/TaskState.ts
  apps/to-do-api/src/generated/definitions/internal/TaskTitle.ts
  apps/to-do-api/tsconfig.json
  turbo.json
  yarn.lock
Labels: size/small, changeset

#268 Use @changeset/changelog-github to generate changelogs
  .changeset/config.json
  package.json
  yarn.lock
Labels: size/small, changeset

#271 Add GitHub Actions workflows and monitoring stack for Opex Plan and Deploy
  .devcontainer/devcontainer.json
  .github/workflows/code_review_infra.yaml
  .gitignore
  .pre-commit-config.yaml
  apps/test-opex-api/docs/openapi-v2.yaml
  apps/test-opex-api/docs/openapi-v3.yaml
  apps/test-opex-api/eslint.config.js
  apps/test-opex-api/package.json
  apps/test-opex-api/src/opex.ts
  apps/test-opex-api/tsconfig.json
  apps/to-do-api/package.json
  apps/to-do-api/src/opex.ts
  infra/resources/opex/manifest.json
  infra/resources/opex/stacks/test-opex-api-v1/cdk.tf.json
  infra/resources/opex/stacks/test-opex-api-v2/cdk.tf.json
  infra/resources/opex/stacks/to-do-api/cdk.tf.json
  package.json
  packages/cdktf-monitoring-stack/eslint.config.js
  packages/cdktf-monitoring-stack/package.json
  packages/cdktf-monitoring-stack/src/dashboard-generator.ts
  packages/cdktf-monitoring-stack/src/index.ts
  packages/cdktf-monitoring-stack/src/monitoring-stack.ts
  packages/cdktf-monitoring-stack/src/openapi-processor.ts
  packages/cdktf-monitoring-stack/src/query-builder.ts
  packages/cdktf-monitoring-stack/src/uri-utils.ts
  packages/cdktf-monitoring-stack/tsconfig.json
  packages/opex-common/eslint.config.js
  packages/opex-common/package.json
  packages/opex-common/src/index.ts
  packages/opex-common/tsconfig.json
  turbo.json
  yarn.lock
Labels: workflows, infra

#273 Test OPEX Flow
  .github/workflows/code_review_infra.yaml
  .gitignore
  .pre-commit-config.yaml
  apps/test-opex-api/docs/openapi-v2.yaml
  apps/test-opex-api/package.json
  apps/test-opex-api/src/opex.ts
  apps/to-do-api/docs/openapi.yaml
  apps/to-do-api/package.json
  apps/to-do-api/src/opex.ts
  infra/github-runner/dev/.terraform.lock.hcl
  infra/repository/.terraform.lock.hcl
  infra/repository/tfmodules.lock.json
  infra/resources/opex/manifest.json
  infra/resources/opex/stacks/test-opex-api-v1/cdk.tf.json
  infra/resources/opex/stacks/test-opex-api-v2/cdk.tf.json
  infra/resources/opex/stacks/to-do-api/cdk.tf.json
  package.json
  turbo.json
  yarn.lock
Labels: workflows, infra
