Repository pagopa/dx-playground, pull requests merged in 2025-05, with the labels that each got.

#172 Remove OpenTelemetry adapter
  .changeset/sharp-kiwis-train.md
  apps/to-do-api/src/adapters/azure/monitor-opentelemetry/logger.ts
Labels: size/small, changeset

#174 Update identity configuration
  .github/workflows/code_review_infra.yaml
  .github/workflows/release_infra.yaml
  infra/identity/dev/.terraform.lock.hcl
  infra/identity/dev/README.md
  infra/identity/dev/locals.tf
  infra/identity/dev/main.tf
  infra/identity/dev/outputs.tf
  infra/identity/dev/tfmodules.lock.json
  infra/repository/data.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/locals.tf
  infra/repository/tfmodules.lock.json
Labels: workflows, infra

#175 Set only major as terraform module version
  .changeset/clean-tables-jump.md
  .changeset/mean-rabbits-chew.md
  infra/github-runner/dev/README.md
  infra/github-runner/dev/main.tf
  infra/identity/dev/tfmodules.lock.json
  infra/repository/README.md
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
  infra/resources/dev/.terraform.lock.hcl
  infra/resources/dev/README.md
  infra/resources/dev/apim.tf
  infra/resources/dev/app_service.tf
  infra/resources/dev/cosmos.tf
  infra/resources/dev/function_app.tf
  infra/resources/dev/main.tf
  infra/resources/dev/tfmodules.lock.json
Labels: size/small, infra, changeset

#178 Refactor ai module and create new ai
  .changeset/five-icons-burn.md
  infra/resources/_modules/application_insights/.terraform.lock.hcl
  infra/resources/_modules/application_insights/README.md
  infra/resources/_modules/application_insights/locals.tf
  infra/resources/_modules/application_insights/main.tf
  infra/resources/_modules/application_insights/providers.tf
  infra/resources/_modules/application_insights/variables.tf
  infra/resources/dev/.terraform.lock.hcl
  infra/resources/dev/README.md
  infra/resources/dev/apim.tf
  infra/resources/dev/app_service.tf
  infra/resources/dev/application_insights.tf
  infra/resources/dev/function_app.tf
  infra/resources/dev/tfmodules.lock.json
Labels: size/small, infra, changeset

#180 Create new Function App
  .changeset/cold-cougars-hug.md
  infra/resources/dev/README.md
  infra/resources/dev/function_app.tf
  infra/resources/dev/main.tf
  infra/resources/dev/tfmodules.lock.json
Labels: size/small, infra, changeset

#181 Create workflow to deploy the function v3
  .github/workflows/deploy_v3.yaml
Labels: workflows, size/small

#177 Create new azure-function-v3 workspace
  .changeset/cuddly-olives-tie.md
  apps/azure-function-v3/package.json
  apps/azure-function-v3/tsconfig.json
  yarn.lock
Labels: size/small, changeset

#184 Move domain objects to a separate package
  .changeset/real-candles-arrive.md
  apps/to-do-api/package.json
  apps/to-do-api/src/adapters/azure/cosmosdb/TaskRepository.ts
  apps/to-do-api/src/adapters/azure/cosmosdb/__tests__/TaskRepository.test.ts
  apps/to-do-api/src/adapters/azure/cosmosdb/errors.ts
  apps/to-do-api/src/adapters/azure/functions/create-task.ts
  apps/to-do-api/src/adapters/azure/functions/delete-task.ts
  apps/to-do-api/src/adapters/azure/functions/get-task.ts
  apps/to-do-api/src/adapters/azure/functions/get-tasks.ts
  apps/to-do-api/src/adapters/azure/functions/info.ts
  apps/to-do-api/src/adapters/http/codec.ts
  apps/to-do-api/src/adapters/ulid/id-generator.ts
  apps/to-do-api/src/use-cases/__tests__/create-task.test.ts
  apps/to-do-api/src/use-cases/__tests__/delete-task.test.ts
  apps/to-do-api/src/use-cases/__tests__/get-task.test.ts
  apps/to-do-api/src/use-cases/create-task.ts
  apps/to-do-api/src/use-cases/delete-task.ts
  apps/to-do-api/src/use-cases/get-task.ts
  packages/to-do-domain/package.json
  packages/to-do-domain/src/Capabilities.ts
  packages/to-do-domain/src/Task.ts
  packages/to-do-domain/src/TaskIdGenerator.ts
  packages/to-do-domain/src/TaskRepository.ts
  packages/to-do-domain/src/__tests__/data.ts
  packages/to-do-domain/src/errors.ts
  packages/to-do-domain/src/index.ts
  packages/to-do-domain/tsconfig.json
  turbo.json
  yarn.lock
Labels: size/small, changeset

#185 Move use cases to the domain package
  .changeset/chilled-insects-rest.md
  apps/to-do-api/src/adapters/azure/functions/create-task.ts
  apps/to-do-api/src/adapters/azure/functions/delete-task.ts
  apps/to-do-api/src/adapters/azure/functions/get-task.ts
  packages/to-do-domain/eslint.config.js
  packages/to-do-domain/package.json
  packages/to-do-domain/src/index.ts
  packages/to-do-domain/src/use-cases/__tests__/create-task.test.ts
  packages/to-do-domain/src/use-cases/__tests__/delete-task.test.ts
  packages/to-do-domain/src/use-cases/__tests__/get-task.test.ts
  packages/to-do-domain/src/use-cases/create-task.ts
  packages/to-do-domain/src/use-cases/delete-task.ts
  packages/to-do-domain/src/use-cases/get-task.ts
  yarn.lock
Labels: size/small, changeset

#183 Implements GET /tasks under Azure Function v3
  .changeset/eighty-foxes-drum.md
  apps/azure-function-v3/.gitignore
  apps/azure-function-v3/GetTaskList/function.json
  apps/azure-function-v3/eslint.config.js
  apps/azure-function-v3/host.json
  apps/azure-function-v3/package.json
  apps/azure-function-v3/src/adapters/express/index.ts
  apps/azure-function-v3/src/config.ts
  apps/azure-function-v3/src/main.ts
  apps/azure-function-v3/tsconfig.json
  yarn.lock
Labels: size/small, changeset

#192 Add environment variable to Function App v3
  .changeset/moody-bobcats-compare.md
  infra/resources/dev/function_app.tf
  infra/resources/dev/tfmodules.lock.json
Labels: size/small, infra, changeset

#194 Add files in package.json
  .changeset/swift-bottles-fry.md
  apps/azure-function-v3/package.json
Labels: size/small

#200 Install `@pagopa/azure-tracing` package
  .changeset/brave-chicken-nail.md
  apps/azure-function-v3/host.json
  apps/azure-function-v3/package.json
  yarn.lock
Labels: size/small, changeset

#216 Update workflow
  .github/workflows/release_candidate.yaml
Labels: workflows, size/small

#218 Fix workflow condition
  .github/workflows/release_candidate.yaml
Labels: workflows, size/small

#226 Releases/pre mode
  .changeset/forty-ducks-exist.md
  .changeset/pre.json
  apps/azure-function-v3/CHANGELOG.md
  apps/azure-function-v3/package.json
  apps/to-do-api/CHANGELOG.md
  apps/to-do-api/package.json
  packages/to-do-azure-adapters/CHANGELOG.md
  packages/to-do-azure-adapters/package.json
  packages/to-do-domain/CHANGELOG.md
  packages/to-do-domain/package.json
Labels: size/small, changeset

#232 Add step to release candidate workflow
  .changeset/hip-trams-teach.md
  .changeset/pre.json
  .changeset/slow-ends-wave.md
  .changeset/young-carpets-nail.md
  .github/workflows/release_candidate.yaml
  apps/test-durable-function/CHANGELOG.md
  apps/test-durable-function/package.json
Labels: workflows, size/small, changeset
