Repository pagopa/dx-playground, pull requests merged in 2025-01, with the labels that each got.

#47 [FIX] Added sku for VMs configuration
  infra/resources/_modules/virtual_machine/main.tf
  infra/resources/_modules/virtual_machine/variables.tf
  infra/resources/dev/dynatrace_resources.tf
Labels: size/small, infra

#48 [CES-632] Use GitHub Bot token to checkout repository and to create a new release
  .changeset/gold-cars-hear.md
  .github/workflows/release.yaml
  infra/repository/README.md
  infra/repository/data.tf
  infra/repository/locals.tf
Labels: workflows, size/small, infra, changeset

#43 [CES-622] Create identity for `app-dev` environment
  .changeset/gorgeous-boxes-do.md
  .changeset/sixty-ducks-wave.md
  infra/identity/dev/README.md
  infra/identity/dev/main.tf
  infra/identity/dev/outrputs.tf
  infra/repository/README.md
  infra/repository/data.tf
  infra/repository/locals.tf
Labels: size/small, infra, changeset

#49 Fix workflow adding git user configuration
  .github/workflows/release.yaml
Labels: workflows, size/small

#44 [CES-625] Configure To Do API on the Api Management
  .changeset/tall-balloons-march.md
  infra/resources/_modules/api/.terraform.lock.hcl
  infra/resources/_modules/api/README.md
  infra/resources/_modules/api/api.tf
  infra/resources/_modules/api/backend.tf
  infra/resources/_modules/api/policy.tf
  infra/resources/_modules/api/policy/policy.xml
  infra/resources/_modules/api/variables.tf
  infra/resources/dev/README.md
  infra/resources/dev/apim.tf
  infra/resources/dev/function_app.tf
Labels: size/small, infra, changeset

#53 [CES-641] Create `tasks` CosmosDB Container
  .changeset/khaki-buses-try.md
  .changeset/weak-scissors-sin.md
  apps/to-do-api/src/config.ts
  infra/resources/dev/README.md
  infra/resources/dev/cosmos.tf
  infra/resources/dev/function_app.tf
Labels: size/small, infra, changeset

#51 [CES-639] Scaffold `POST /tasks` operation
  .changeset/wild-lamps-teach.md
  apps/to-do-api/.gitignore
  apps/to-do-api/docs/openapi.yaml
  apps/to-do-api/package.json
  apps/to-do-api/src/adapters/azure/cosmosdb/TaskRepository.ts
  apps/to-do-api/src/adapters/azure/functions/create-task.ts
  apps/to-do-api/src/adapters/http/codec.ts
  apps/to-do-api/src/adapters/http/middleware.ts
  apps/to-do-api/src/domain/Capabilities.ts
  apps/to-do-api/src/domain/Task.ts
  apps/to-do-api/src/domain/TaskIdGenerator.ts
  apps/to-do-api/src/domain/TaskRepository.ts
  apps/to-do-api/src/domain/__tests__/data.ts
  apps/to-do-api/src/generated/definitions/internal/ApplicationInfo.ts
  apps/to-do-api/src/generated/definitions/internal/CreateTaskItem.ts
  apps/to-do-api/src/generated/definitions/internal/ProblemJSON.ts
  apps/to-do-api/src/generated/definitions/internal/TaskId.ts
  apps/to-do-api/src/generated/definitions/internal/TaskItem.ts
  apps/to-do-api/src/generated/definitions/internal/TaskState.ts
  apps/to-do-api/src/generated/definitions/internal/TaskTitle.ts
  apps/to-do-api/src/main.ts
  apps/to-do-api/src/use-cases/__tests__/create-task.test.ts
  apps/to-do-api/src/use-cases/create-task.ts
  apps/to-do-api/vitest.config.ts
  package.json
  turbo.json
  vitest.workspace.ts
  yarn.lock
Labels: changeset

#56 Small fixes on workflows
  .github/workflows/deploy_api.yaml
  .github/workflows/release_infra.yaml
Labels: workflows, size/small

#52 [CES-640] Implements adapters used by `POST /tasks`
  .changeset/lazy-plants-reflect.md
  apps/to-do-api/local.settings.json.example
  apps/to-do-api/package.json
  apps/to-do-api/src/adapters/azure/cosmosdb/TaskRepository.ts
  apps/to-do-api/src/adapters/azure/cosmosdb/__tests__/TaskRepository.test.ts
  apps/to-do-api/src/adapters/azure/cosmosdb/__tests__/mocks.ts
  apps/to-do-api/src/adapters/azure/cosmosdb/errors.ts
  apps/to-do-api/src/adapters/http/codec.ts
  apps/to-do-api/src/adapters/ulid/__tests__/id-generator.test.ts
  apps/to-do-api/src/adapters/ulid/id-generator.ts
  apps/to-do-api/src/domain/errors.ts
  apps/to-do-api/src/main.ts
  apps/to-do-api/src/use-cases/__tests__/create-task.test.ts
  yarn.lock
Labels: size/small, changeset

#57 [CES-644] List tasks
  .changeset/hungry-eyes-build.md
  apps/to-do-api/docs/openapi.yaml
  apps/to-do-api/src/adapters/azure/cosmosdb/TaskRepository.ts
  apps/to-do-api/src/adapters/azure/cosmosdb/__tests__/TaskRepository.test.ts
  apps/to-do-api/src/adapters/azure/cosmosdb/__tests__/mocks.ts
  apps/to-do-api/src/adapters/azure/cosmosdb/decode.ts
  apps/to-do-api/src/adapters/azure/functions/get-tasks.ts
  apps/to-do-api/src/domain/TaskRepository.ts
  apps/to-do-api/src/generated/definitions/internal/TaskItemList.ts
  apps/to-do-api/src/main.ts
Labels: size/small, changeset

#59 [CES-645] Add `GET task/{id}`
  .changeset/large-needles-hide.md
  .changeset/yellow-hats-worry.md
  apps/to-do-api/docs/openapi.yaml
  apps/to-do-api/src/adapters/azure/cosmosdb/TaskRepository.ts
  apps/to-do-api/src/adapters/azure/cosmosdb/__tests__/TaskRepository.test.ts
  apps/to-do-api/src/adapters/azure/cosmosdb/__tests__/mocks.ts
  apps/to-do-api/src/adapters/azure/cosmosdb/decode.ts
  apps/to-do-api/src/adapters/azure/functions/get-task.ts
  apps/to-do-api/src/adapters/http/middleware.ts
  apps/to-do-api/src/domain/TaskRepository.ts
  apps/to-do-api/src/main.ts
  apps/to-do-api/src/use-cases/__tests__/get-task.test.ts
  apps/to-do-api/src/use-cases/get-task.ts
Labels: size/small, changeset

#61 [CES-647] Delete task
  .changeset/silent-bees-join.md
  .changeset/silent-steaks-count.md
  apps/to-do-api/docs/openapi.yaml
  apps/to-do-api/src/adapters/azure/cosmosdb/TaskRepository.ts
  apps/to-do-api/src/adapters/azure/cosmosdb/__tests__/TaskRepository.test.ts
  apps/to-do-api/src/adapters/azure/cosmosdb/decode.ts
  apps/to-do-api/src/adapters/azure/functions/delete-task.ts
  apps/to-do-api/src/domain/TaskRepository.ts
  apps/to-do-api/src/main.ts
  apps/to-do-api/src/use-cases/__tests__/delete-task.test.ts
  apps/to-do-api/src/use-cases/delete-task.ts
Labels: size/small, changeset

#63 Add `lock_modules` to pre-commit hooks
  .changeset/gorgeous-donuts-beam.md
  .pre-commit-config.yaml
  infra/identity/dev/tfmodules.lock.json
  infra/repository/tfmodules.lock.json
  infra/resources/dev/tfmodules.lock.json
Labels: size/small, infra, changeset

#33 [CES-615] Create ts configuration for react
  .changeset/nine-penguins-begin.md
  .changeset/serious-cherries-allow.md
  apps/to-do-webapp/.gitignore
  apps/to-do-webapp/README.md
  apps/to-do-webapp/eslint.config.mjs
  apps/to-do-webapp/next.config.ts
  apps/to-do-webapp/package.json
  apps/to-do-webapp/public/.gitkeep
  apps/to-do-webapp/src/app/globals.css
  apps/to-do-webapp/src/app/layout.tsx
  apps/to-do-webapp/src/app/page.module.css
  apps/to-do-webapp/src/app/page.tsx
  apps/to-do-webapp/tsconfig.json
  packages/typescript-config-react/package.json
  packages/typescript-config-react/tsconfig.json
  turbo.json
  yarn.lock
Labels: size/small, changeset

#65 Create workflow to deploy webapp
  .github/workflows/deploy_web_app.yaml
Labels: workflows, size/small

#67 [CES-654] Give APIM permission to read secrets from a Key Vault
  .changeset/clever-bugs-clap.md
  infra/resources/dev/README.md
  infra/resources/dev/apim.tf
  infra/resources/dev/tfmodules.lock.json
Labels: size/small, infra, changeset

#68 [CES-655] Create named value with the To Do API Function key
  .changeset/shiny-lamps-prove.md
  infra/resources/dev/README.md
  infra/resources/dev/apim.tf
  infra/resources/dev/data.tf
Labels: size/small, infra, changeset

#69 [CES-656] Add header in APIM policy
  .changeset/ninety-ducks-dance.md
  infra/resources/_modules/api/README.md
  infra/resources/_modules/api/policy.tf
  infra/resources/_modules/api/policy/policy.xml
  infra/resources/_modules/api/variables.tf
  infra/resources/dev/apim.tf
Labels: size/small, infra, changeset

#72 [FIX] Changed tags with new format
  infra/resources/dev/locals.tf
Labels: size/small, infra

#66 [CES-648] Prepare Next.js application to be deployed on Azure
  .changeset/modern-horses-learn.md
  apps/to-do-webapp/next.config.ts
  apps/to-do-webapp/package.json
  apps/to-do-webapp/tsconfig.json
Labels: size/small, changeset

#76 [CES-646] Added Dynatrace Logs configuration
  infra/identity/dev/main.tf
  infra/resources/dev/.terraform.lock.hcl
  infra/resources/dev/README.md
  infra/resources/dev/dynatrace_resources.tf
  infra/resources/dev/locals.tf
  infra/resources/dev/scripts/dynatrace-azure-forwarder.json
  infra/resources/dev/scripts/dynatrace-azure-logs.sh
  infra/resources/dev/tfmodules.lock.json
Labels: infra

#75 [CES-671] Grant app service permission to read APIM
  .changeset/fresh-radios-run.md
  infra/resources/dev/README.md
  infra/resources/dev/app_service.tf
  infra/resources/dev/scripts/tfmodules.lock.json
  infra/resources/dev/tfmodules.lock.json
Labels: size/small, infra, changeset

#79 [CES-674] Add app service permission to read secrets from key vault
  .changeset/smooth-mayflies-compare.md
  infra/resources/dev/app_service.tf
Labels: size/small, infra, changeset

#80 [CES-675] Add API_KEY as environment variable
  .changeset/friendly-shrimps-divide.md
  infra/resources/dev/README.md
  infra/resources/dev/app_service.tf
  infra/resources/dev/data.tf
Labels: size/small, infra, changeset

#84 Use health_check_path for app service health check
  .changeset/quiet-cats-share.md
  infra/resources/dev/app_service.tf
Labels: size/small, infra, changeset

#82 [CES-683] Add To Do List UI
  .changeset/dull-ads-tease.md
  .changeset/two-steaks-glow.md
  apps/to-do-api/docs/openapi.yaml
  apps/to-do-webapp/.gitignore
  apps/to-do-webapp/eslint.config.mjs
  apps/to-do-webapp/package.json
  apps/to-do-webapp/src/app/layout.tsx
  apps/to-do-webapp/src/app/page.module.css
  apps/to-do-webapp/src/app/page.tsx
  apps/to-do-webapp/src/components/ToDoItem.tsx
  apps/to-do-webapp/src/components/ToDoList.tsx
  apps/to-do-webapp/src/components/ToDoTextArea.tsx
  apps/to-do-webapp/src/lib/api.ts
  apps/to-do-webapp/src/lib/client.ts
  apps/to-do-webapp/src/styles/global.css
  yarn.lock
Labels: changeset

#83 [CES-667] Add Durable Function test
  .github/workflows/deploy_durable.yaml
  .vscode/settings.json
  apps/test-durable-function/eslint.config.js
  apps/test-durable-function/host.json
  apps/test-durable-function/local.settings.json.example
  apps/test-durable-function/package.json
  apps/test-durable-function/src/main.ts
  apps/test-durable-function/tsconfig.json
  infra/resources/dev/function_durable.tf
  yarn.lock
Labels: workflows, size/small, infra

#90 [CES-667] Fix subnet CIDR allocation for Durable Function
  .changeset/red-readers-nail.md
  infra/resources/dev/function_durable.tf
Labels: size/small, infra, changeset

#92 [CES-696] Add Dynatrace env variable to Azure function (API)
  .changeset/curvy-bobcats-own.md
  apps/to-do-api/local.settings.json.example
  infra/resources/dev/README.md
  infra/resources/dev/data.tf
  infra/resources/dev/function_app.tf
Labels: size/small, infra, changeset

#85 [CES-684] Configura Dynatrace in the Azure Function
  .changeset/great-geese-compare.md
  apps/to-do-api/package.json
  apps/to-do-api/src/main.ts
  yarn.lock
Labels: size/small, changeset

#89 [FIX] Updated Tags
  .changeset/metal-rings-sneeze.md
  infra/identity/dev/locals.tf
  infra/identity/dev/main.tf
  infra/resources/dev/locals.tf
Labels: size/small, infra, changeset

#97 fix: package name for test-durable-function
  .changeset/silly-kiwis-rush.md
  apps/test-durable-function/package.json
  yarn.lock
Labels: size/small, changeset

#99 [CES-548] Add dynatrace script
  .changeset/tasty-taxis-juggle.md
  apps/to-do-webapp/src/app/layout.tsx
Labels: size/small, changeset

#101 Update main entry point in package.json for test-durable-function
  .changeset/thin-crabs-breathe.md
  apps/test-durable-function/package.json
Labels: size/small, changeset

#104 Update Durable Functions dependencies and bundle version
  .changeset/real-parents-rescue.md
  apps/test-durable-function/host.json
  apps/test-durable-function/package.json
  yarn.lock
Labels: size/small, changeset

#107 Add storage provider configuration to host.json for Durable Functions
  apps/test-durable-function/host.json
Labels: size/small

#103 Disable text area while HTTP request is not completed yet
  .changeset/perfect-lobsters-bake.md
  apps/to-do-webapp/src/components/ToDoTextArea.tsx
Labels: size/small, changeset

#110 Ignore test files during compilation
  .changeset/fluffy-wasps-collect.md
  apps/to-do-api/package.json
  apps/to-do-api/tsconfig.json
Labels: size/small, changeset

#112 Change Terraform module reference
  .changeset/witty-grapes-pull.md
  infra/resources/dev/README.md
  infra/resources/dev/function_durable.tf
  infra/resources/dev/tfmodules.lock.json
Labels: size/small, infra, changeset
